body {
    background: #181e27;
}
.side {
    width:25%;
    display: none;
    position: absolute;
    margin-right: 0;

}

.side-content {
    width: 100%;
}

.dark-bg {
    background-color: #181e27;
    color: white;
}

.fixed {
    display: flex;
    flex-wrap: wrap;
}

.links {
    max-width: 100%;
}

.abs {
    position: absolute;
}

.abs button {
    z-index: 2;
}

.abs div {
    z-index: -1;
}

.big-text {
    font-size: 2.5em;
}

#map {
    height: 91.85vh;
}

#info-window {
    padding: 10px;
}


.wrap {
    white-space: pre-wrap;
}
